.cards {
    text-align: center;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .tw-followCard {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
  }
  
  .tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .tw-followCard-header div {
    display: flex;
    flex-direction: column;
  }
  
  .tw-followCard-header div span {
    opacity: .6;
  }
  
  .tw-followCard-header img {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
  }
  
  
  .tw-followCard-button {
    margin-left: 16px;
    border: 0;
    border-radius: 998px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .tw-followCard-button:hover{
    background: rgb(0, 97, 254);
  }
  
  .tw-followCard-button.is-following{
   background: #9b9090;
  }